<h1>game stats</h1>
<table>
  <tr>
    <th><%= @score1.name%></th>
    <th><%= @score2.name %></th>
  </tr>	
  <% 0.upto(@count) do |i| %>
  
   <tr>
   <%if @roll1[i] != nil %>
      <td><%= @roll1[i].points%></td>
   <%end%>
   <%if @roll2[i] != nil %>
      <td><%= @roll2[i].points%></td>
   <%end%>   

    </tr>
  <%end%> 
  <tr>
    <th><%= @score1.points%></th>
    <th><%= @score2.points %></th>
  </tr> 
</table>